{% extends 'base.html' %}
{% block extra_head %}
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.6.1/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.6.1/mapbox-gl.css' rel='stylesheet' />
{% endblock extra_head %}

{% block content %}

<div class="container">
    <h1 class="title">
        Map
    </h1>
    <div id='map' style='width: 100%; height: 600px;'></div>
</div>

<script>
mapboxgl.accessToken = 'pk.eyJ1IjoibWF4aW1ldGVsZXNjb29wIiwiYSI6ImNrbHJrbWV6ajAzd20ycXB2YjZodzZ0ancifQ.VLDpa6x-j-3kh65_S-H_rA';
const map = new mapboxgl.Map({
    container: 'map', // container ID
    style: 'mapbox://styles/maximetelescoop/ckz2nizcg007c14nt4j1x4nc9', // style URL
    center: [22.3688733,1.9171377], // starting position [lng, lat]
    zoom: 4 // starting zoom
});

const elementsPerCountry = JSON.parse('{{ elements_per_country | escapejs }}');
const countryParameters = JSON.parse('{{ country_parameters | escapejs }}');

const el = document.createElement('div');
el.className = "countryMarker";

const popup = new mapboxgl.Popup({ offset: 25 }).setText(
'Construction on the Washington Monument began in 1848.'
);

new mapboxgl.Marker(el)
.setLngLat(monument)
.setPopup(popup) // sets a popup on this marker
.addTo(map);
</script>
{% endblock content %}