{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load main_tags %}

{% block content %}
  <div class="has-background-info-light">
    <div class="container pt-6">
      {% include "components/breadcrumbs.html" %}

      <div class="has-background-white" style="padding: 80px 8vw">
        {{ news.publication_date | date }}
        <h1 class="title is-1">{{ news.name }}</h1>

        {% include "components/free_body.html" with body=news.body %}
      </div>
    </div>
  </div>
{% endblock %}
